# emacs backup
*~
# virtual environment for sphinx
myenv/*
# unused files
unused/*
# virtualenv library
virtualenv-*
# build unused .doctrees
build/.doctrees/*
# image files --- these are
# temp files
temp*
# build/_downloads
build/_downloads/*
